.cardHover {
    display: none;
}

.hoverParent:hover {
    transform: translateY(-20px);
    transition: 1s ease-in-out;
}

.hoverParent:hover .cardHover {
    display: flex;
    transition: 5s ease;
}

;